<footer>

	<h3>Social</h3>

		<ul>
			<li><a href="https://twitter.com/mariealine_">Twitter</a></li>
			<li><a href="https://fr.linkedin.com/in/mariealine">Linkedin</a></li>
			<li><a href="https://www.malt.fr/profile/mariealinemillot">Malt</a></li>
			<li><a href="https://www.behance.net/mariealine">Behance</a></li>
			<li><a href="https://github.com/mariealine">Github</a></li>
			<li><a href="https://speakerdeck.com/mariealine">Speakerdeck</a></li>
		</ul>

		<p>
		Marie-Aline Millot - Product Designer - Siret Number : 81821910700013 | Available for freelance missions
		</p>

</footer>
