<!doctype html>
<html lang="en">
<head>
  {% include "sections/head.njk" %}
</head>
<body class="{{ bodyClass }}" >
  <div class="container">
    <header>
      <ul class="nav">
        <li>
          <a href="#projects">projects<small>what I currently do</small></a>
        </li>
        <li>
          <a href="#talks">talks<small>what I share</small></a>
        </li>
        <li>
          <a href="#communities">communities<small>what I'm involved</small></a>
        </li>
      </ul>
      <h1>{{ site.author.name }}
        <span itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="{{site.author.name}}"/>
          <meta itemprop="description" content="{{site.description}}"/>
          <meta itemprop="familyName" content="{{site.author.lastName}}"/>
          <link itemprop="url" href="{{site.author.url}}"/>
          <img itemprop="image" content="https://pbs.twimg.com/profile_images/662218985342181376/ACQXH9rf_400x400.jpg">
          <meta itemprop="jobTitle" content="{{site.author.jobTitle}}"/>
          <meta itemprop="knowsAbout" content="{{site.author.knowsAbout}}"/>
          
          {% for item in social %}
          <meta itemprop="sameAs" href="{{ item.url }}">
          {% endfor %}
          <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="Weekendesk"/>
            <link itemprop="url" href="https://weekendesk.com"/>
          </span>
          <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="Design Systems France"/>
            <link itemprop="url" href="https://designsystems.fr"/>
            <meta itemprop="funder" content="Design Systems France"/>
          </span>
        </span></h1>
        {%- if subtitle %}<p class="subtitle">{{ site.description }}</p>{% endif %}
      </header>
      {{ content | safe }}
      {% include "sections/projects.njk" %}
      {% include "sections/talks.njk" %}
      {% include "sections/communities.njk" %}
      {% include "sections/motorbike.njk" %}
      {% include "sections/contact.njk" %}
      {% include "footer.njk" %}
    </div>
  </body>
  </html>
