<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <div class="container">
      <header>
        <ul class="nav">
          <li>
            <a href="#projects">projects<small>what I currently do</small></a>
          </li>
          <li>
            <a href="#talks">talks<small>what I share</small></a>
          </li>
          <li>
            <a href="#talks">talks<small>what I share</small></a>
          </li>
          <li>
            <a href="#communities">communities<small>what I'm involved</small></a>
          </li>
        </ul>
        <h1>{{ title }}</h1>
        {%- if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
      </header>
      {{ content | safe }}
      {% include "sections/projects.njk" %}
      {% include "sections/talks.njk" %}
      {% include "sections/communities.njk" %}
      {% include "sections/motorbike.njk" %}
      {% include "footer.njk" %}
    </div>
  </body>
</html>
