<section>
  <h3>Contact</h3>

  Students in search, peers in search of solutions, companies looking for profiles, you want:<br>
  - to know more about my projects or my career<br>
  - to propose a project?<br>
  - to exchange simply to propose a project<br>
  <br>
  <a href="mailto:{{ site.author.email }}">Contact me</a>
</section>
