<footer>

  <h3>Footer</h3> 

    <ul>
      {%- for item in socialmedias -%}
        <li><a href="{{ item.url }}"></a>{{ item.label }}</li>
      {%- endfor -%}
    </ul>

    <p>
    Marie-Aline Millot - Product Designer - Siret Number : 81821910700013 | Available for freelance missions
    </p>

</footer>