<section>
	<a id="motorbike" class="anchor"><h2>Motorbike</h2></a>
  <p>After my job and my extra job activities, motorbike is my hobby.<br>
    I builded my own first motorbike at 19 and I rode with during years. Thanks to motorbike, I met some awesome people and someone are now friends. <br>
    With some of them we launch the <a href="https://www.instagram.com/jeannemachines/" target="_blank">Jeanne Machines</a> crew, and developped a female bikers community : we provide the events, ride for women and give them safe space.
</section>