<section>

  <a id="projects" class="anchor" href="#projects"><h2>Projects</h2></a>

  {%  for project in projects %}
    {%- if project.featured == "checked" %}
      <p>{{ project.name }}</p>
      <p>{{ project.role }}</p>
      <p>{{ project.date }}</p>
      <p>{{ project.introduction }}</p>
      <p>{{ project.details }}</p>
    {% endif %}
  {% endfor %}

</section>
